@import 'styles/variables';
@import 'styles/mixins';

.header {
    position: fixed;
    z-index: 997;
    width: 100%;
    top: 0;
    @include global-padding-x;
    @include header-padding-y;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: $border-primary;
    height: $header-height;
    background-color: $background-primary;
}

.header-spacer {
    height: $header-height;
    background-color: $background-primary;
}
