@import 'styles/variables';
@import 'styles/mixins';

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: $background-primary;
    box-shadow: $light-shadow;
}

.header {
    max-width: $max-width;
    position: fixed;
    z-index: 997;
    width: 100%;
    top: 0;
    @include global-padding-x;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
    background-color: $background-primary;
    box-shadow: $light-shadow;
}

.header-spacer {
    height: $header-height;
    background-color: $background-primary;
}
