@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.logo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;

    @media screen and (min-width: $breakpoint-small) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.logo-grid-item {
    @media screen and (min-width: $breakpoint-small) {
        width: 100px;
    }

    & img {
        width: 100%;
        margin-right: 2rem;
    }
}
