@import 'styles/variables';
@import 'styles/mixins';

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $background-secondary;
}

.main {
    width: 100%;
    @include global-margin-x;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    min-height: $min-main-height;
    max-width: $max-width;
    background-color: $background-primary;
    box-shadow: $light-shadow;
}
