@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.drawer-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.drawer {
    visibility: hidden;
    opacity: 0;
    z-index: 999;
    transition: $transition-fade;
    position: fixed;
    overflow: auto;
    top: 0;
    height: 100vh;
    min-width: 300px;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
    box-shadow: $light-shadow;
    background-color: $background-primary;
    border-radius: $border-radius-primary;

    &.--right {
        right: 0;
    }

    &.--left {
        left: 0;
    }

    &.--top {
        height: auto;
        min-height: 300px;
        width: 100%;
    }

    &.--open {
        visibility: visible;
        opacity: 1;
    }
}

.drawer-main {
    padding: 1rem;
}
