@import 'styles/variables';
@import 'styles/mixins';

.footer-container {
    width: 100%;
    background-color: $background-primary;
    display: flex;
    justify-content: center;
    box-shadow: $light-shadow;
}

.footer {
    max-width: $max-width;
    @include global-padding-x;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: $light-shadow;
    background-color: $background-primary;
    gap: 0.5rem;
}

.footer-txt {
    display: flex;
    justify-content: center;
    align-items: center;

    @include txt-small;

    svg {
        margin-left: 0.5rem;
        height: 0.75rem;
    }
}
