@import 'styles/variables';

.logo {
    display: block;
    height: 1.5rem;
    width: 1.5rem;
    border: $border-transparent;
    border-radius: $border-radius-primary;

    &:hover {
        border: $border-primary;
    }

    svg {
        height: 100%;
    }
}
