@use "@styles/variables" as *;

.logo {
    display: block;
    height: 2rem;
    width: 2rem;
    border: $border-transparent;
    border-radius: $border-radius-primary;

    &:hover {
        border: $border-primary;
    }

    svg {
        height: 100%;
    }
}
