@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.certification-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3rem;

    &:last-child {
        margin-bottom: 0;
    }

    img {
        width: 100px;
        margin-right: 1.5rem;
    }

    h4 {
        @include h4;
    }
}
