@use "@styles/variables" as *;
@use "@styles/mixins" as *;

.home-txt {
    @include txt-medium;
    margin-bottom: 1rem;
}

.home-name {
    @include h1;
    margin-bottom: 1.25rem;
}

.home-title {
    @include txt-medium;
}

.home-headshot-container {
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;

    img {
        border-radius: $border-radius-primary;
        border: $border-primary-thick;
        box-shadow: $light-shadow;
        display: block;
        width: 100%;
        height: auto;
    }

    @media screen and (min-width: $breakpoint-medium) {
        max-width: 500px;
        margin-bottom: 0;
        order: 2;

        img {
            width: 75%;
        }
    }
}

.home-intro-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;

    @media screen and (min-width: $breakpoint-medium) {
        flex-direction: row;
    }
}

.home-txt-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 1;
    width: 100%;

    @media screen and (min-width: $breakpoint-medium) {
        width: 45%;
        align-items: center;
    }
}

.section {
    margin-bottom: 6rem;

    &:last-of-type {
        margin: 0;
    }
}

.section-heading {
    @include h2;
    margin-bottom: 2rem;
}
