@import 'styles/variables';
@import 'styles/mixins';

.home-txt {
    @include txt-medium;
    margin-bottom: 1rem;
}

.home-name {
    @include h1;
    margin-bottom: 1.25rem;
}

.home-title {
    @include txt-medium;
}

.home-intro-container {
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.section {
    margin-bottom: 6rem;
}

.section-heading {
    @include h2;
    margin-bottom: 2rem;
}
