/* Fonts */
@font-face {
    font-family: 'Exo2';
    src: url('../assets/fonts/Exo2-SemiBold.ttf') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Exo2';
    src: url('../assets/fonts/Exo2-Bold.ttf') format('woff');
    font-weight: 700;
    font-style: normal;
}
