@use "styles/variables";

* {
    box-sizing: border-box;
}

html,
body {
    font-family: variables.$font-secondary;
    background-color: variables.$background-secondary;
}

hr {
    width: 100%;
}
