@import './variables';

/* Spacing */
@mixin global-margin-x {
    margin-left: 1rem;
    margin-right: 1rem;
}

@mixin global-padding-x {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* Typography */
@mixin h1 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $font-primary;
}

@mixin txt-x-small {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.5rem;
}

@mixin txt-small {
    font-family: 'Roboto Mono', monospace;
    font-size: 0.75rem;
}

@mixin txt-medium {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5rem;
}

@mixin link-medium {
    text-transform: uppercase;
    font-family: 'Roboto Mono', monospace;
    font-size: 1rem;
    text-decoration: none;
    color: $black;
    letter-spacing: 2px;
}
