@import "./variables";

/* Spacing */
@mixin global-margin-x-sm {
    margin-left: 1rem;
    margin-right: 1rem;
}

@mixin global-margin-x-lg {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

@mixin global-padding-x {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* Typography */
@mixin h1 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $font-primary;
}

@mixin h2 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $font-primary;
}

@mixin h3 {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: $font-primary;
}

@mixin h4 {
    font-size: 1rem;
    font-weight: 700;
    text-transform: none;
    font-family: $font-primary;
}

@mixin txt-regular {
    font-family: $font-secondary;
    font-size: 1.125rem;
}

@mixin txt-x-small {
    font-family: $font-secondary;
    font-size: 0.5rem;
}

@mixin txt-small {
    font-family: $font-secondary;
    font-size: 0.75rem;
}

@mixin txt-medium {
    font-family: $font-secondary;
    font-size: 1.25rem;
}

@mixin link-medium {
    text-transform: uppercase;
    font-family: $font-secondary;
    font-size: 1rem;
    text-decoration: none;
    color: $black;
    letter-spacing: 2px;
}
