@import './variables';

/* Spacing */

@mixin global-margin-x {
    margin-left: 1rem;
    margin-right: 1rem;
}

@mixin global-padding-x {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

@mixin header-padding-y {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@mixin footer-padding-y {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

/* Typography */

@mixin h1 {
    font-size: 2rem;
    font-weight: 700;
}

@mixin txt-small {
    font-size: 0.5rem;
}
